{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended",
        "plugin:vue/vue3-recommended"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "ecmaVersion": 9,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "plugins": [
        "vue",
        "@typescript-eslint"
    ],
    "rules": {
        "space-infix-ops": "off",
        "object-curly-newline": "off",
        "indent": [
            "error",
            3,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "curly": [
            "error",
            "multi-or-nest"
        ],
        "no-console": "off",
        "no-undef": "off",
        "vue/no-side-effects-in-computed-properties": "off",
        "vue/multi-word-component-names": "off",
        "vue/require-default-prop": "off",
        "vue/comment-directive": "off",
        "vue/no-v-html": "off",
        "vue/html-indent": [
            "error",
            3,
            {
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "ignores": []
            }
        ],
        "vue/max-attributes-per-line": [
            "error",
            {
                "singleline": {
                    "max": 2
                },
                "multiline": {
                    "max": 1
                }
            }
        ],
        "@typescript-eslint/member-delimiter-style": [
            "warn",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ],
        "@typescript-eslint/no-var-requires": "off"
    }
}