{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "standard",
        "plugin:vue/recommended"
    ],
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "ecmaVersion": 9,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "indent": [
            "error",
            3,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "brace-style": [
            "error",
            "stroustrup"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "curly": [
            "error",
            "multi-or-nest"
        ],
        "no-console": "off",
        "no-undef": "off",
        "vue/no-side-effects-in-computed-properties": "off",
        "vue/require-default-prop": "off",
        "vue/comment-directive": "off",
        "vue/no-v-html": "off",
        "vue/html-indent": [
            "error",
            3,
            {
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "ignores": []
            }
        ],
        "vue/max-attributes-per-line": [
            "error",
            {
                "singleline": 2,
                "multiline": {
                    "max": 1,
                    "allowFirstLine": false
                }
            }
        ]
    }
}