{
  "extends": [
    "stylelint-config-standard"
  ],
  "fix": true,
  "formatter": "verbose",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null
  },
  "syntax": "scss"
}