{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss"
  ],
  "fix": true,
  "formatter": "verbose",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "declaration-colon-newline-after": "always-multi-line"
  },
  "syntax": "scss"
}