/* stylelint-disable selector-class-pattern */
.column-key {
  transform: rotate(45deg);
  font-size: 0.7rem;
  line-height: 1.5;
  margin-right: 0.2rem;

  &.key-pri,
  &.key-PRIMARY {
    color: goldenrod;
  }

  &.key-uni,
  &.key-UNIQUE {
    color: deepskyblue;
  }

  &.key-mul,
  &.key-INDEX,
  &.key-KEY {
    color: limegreen;
  }

  &.key-fk {
    color: chocolate;
  }

  &.key-FULLTEXT {
    color: mediumvioletred;
  }
}
