/*Colors*/
$body-bg: #1d1d1d;
$body-font-color: #fff;
$primary-color: #e36929;
$bg-color: #1d1d1d;
$bg-color-light: #3f3f3f;
$bg-color-gray: #272727;

/*Sizes*/
$settingbar-width: 4rem;
$explorebar-width: 16rem;
$footer-height: 1.5rem;