@import "~spectre.css/src/_variables.scss";
@import "variables";
@import "transitions";
@import "data-types";
@import "table-keys";
@import "fake-tables";
@import "mdi-additions";
@import "db-icons";
@import "~spectre.css/src/spectre.scss";
@import "~spectre.css/src/spectre-exp.scss";

body {
  user-select: none;
}

/* Additions */
@include margin-variant(3, $unit-3);
@include margin-variant(4, $unit-4);
@include padding-variant(3, $unit-3);
@include padding-variant(4, $unit-4);

.btn {
  &.btn-gray {
    color: #fff;
    background: $bg-color-gray;

    &:hover {
      background: $bg-color;
    }
  }

  &.btn-dark {
    color: #fff;
    background: $bg-color-light;
    border-color: $bg-color-light;

    &:hover {
      background: $bg-color-gray;
    }
  }
}

.p-vcentered {
  display: flex !important;
  align-items: center;
}

.c-help {
  cursor: help;
}

.no-border {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.bg-checkered {
  background-image:
    linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 2em 2em;
}

.workspace-tabs {
  align-content: baseline;

  .workspace-query-runner {
    .workspace-query-runner-footer {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0.6rem 0.4rem;
      align-items: center;

      .workspace-query-buttons {
        display: flex;

        .btn {
          display: flex;
          align-self: center;
          color: $body-font-color;
          margin-right: 0.4rem;
        }
      }

      .workspace-query-info {
        display: flex;

        > div + div {
          padding-left: 0.6rem;
        }
      }
    }
  }
}

.process-row .td:last-child {
  width: 100%;
}

// Scrollbars
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $bg-color-light;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: #fff, $alpha: 0.5);

  &:hover {
    background: rgba($color: #fff, $alpha: 1);
  }
}

// Animations
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 0.8s infinite linear;
}

/* Override */
.modal {
  .modal-overlay,
  &.active .modal-overlay {
    background: rgba(255, 255, 255, 0.15);
  }

  .modal-container,
  .modal-sm .modal-container {
    box-shadow: 0 0 1px 0 #000;
    padding: 0;
    background: $bg-color;

    .modal-header {
      padding: 0.4rem 0.8rem;
      text-transform: uppercase;
      background: $bg-color-gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
    }
  }
}

.tab {
  border-color: #272727;

  .tab-item {
    .btn-clear {
      margin-top: -0.1rem;
      font-size: 0.6rem;
    }
  }
}

.panel {
  border: none;
}

.badge {
  &[data-badge],
  &:not([data-badge]) {
    &::after {
      box-shadow: none;
    }
  }
}

.form-select {
  cursor: pointer;

  &.small-select {
    height: 1rem;
    font-size: 0.7rem;
    padding: 1px 0.4rem 0;
  }
}

.form-select,
.form-input,
.form-select:not([multiple]):not([size]),
.form-checkbox .form-icon,
.form-radio .form-icon {
  border-color: $bg-color-light;
  background-color: $bg-color-gray;
}

.form-input.is-error,
.form-select.is-error {
  background-color: $bg-color-gray;
}

.form-input:not(:placeholder-shown):invalid:focus {
  background: $bg-color-gray;
}

.form-select:not([multiple]):not([size]):focus {
  border-color: $primary-color;
}

.form-input[type="file"] {
  overflow: hidden;
}

.input-group .input-group-addon {
  border-color: #3f3f3f;
  z-index: 1;
}

.menu {
  font-size: 0.7rem;

  .menu-item {
    + .menu-item {
      margin-top: 0;
    }
  }
}

.accordion-body {
  max-height: 5000rem !important;
}

.btn.loading {
  > .mdi,
  > span {
    visibility: hidden;
  }
}

.empty {
  color: $body-font-color;
}
